@{
    ViewData["Title"] = "Home Page";
}



<div>
    <img id="day" class="maxsize dayCalc off" src="~/images/day.png" />
    <img id="night" class="maxsize dayCalc on" src="~/images/night.png" hidden />
    <img id="sun" class="sunCalc off" src="~/images/sun.png" />
    <img id="moon" class="moonCalc on" src="~/images/moon.png" hidden />
    <img id="cloud" class="cloudCalc" src="~/images/cloud.png" />
    <img id="back" class="maxsize backCalc off" src="~/images/back.png" />
    <img id="backNight" class="maxsize backCalc on" src="~/images/backNight.png" hidden />
    <img id="_100152" class="lampCalc off d" src="~/images/lampOff.png" />
    <img id="_100159" class="lampCalc off d" src="~/images/lampOff.png" />
    <img id="_100172" class="lampCalc off d" src="~/images/lampOff.png" />
    <img id="_100175" class="lampCalc off d" src="~/images/lampOff.png" />
    <img id="_100182" class="lampCalc off d" src="~/images/lampOff.png" />
    <img id="lampOn1" class="lampCalc on" src="~/images/lampOn.png" hidden />
    <img id="lampOn2" class="lampCalc on" src="~/images/lampOn.png" hidden />
    <img id="lampOn3" class="lampCalc on fall" src="~/images/lampOn.png" hidden />
    <img id="lampOn4" class="lampCalc on" src="~/images/lampOn.png" hidden />
    <img id="lampOn5" class="lampCalc on" src="~/images/lampOn.png" hidden />
    <img id="car" class="carCalc" src="~/images/car.png" hidden />



</div>
